%h4 Instructions
%ul
  %li Things to Apples is played with 3 or more players for a number of rounds at least as large as the number of players (giving each player an opportunity to be the judge).
  %li A game begins when the required number of players have joined it.
  %li Players are ordered randomly at the start of the game and take turns as the judge in this order.
  %li Each game has a pre-set timeout value.  This is the time that must pass before a disconnected player forfeits his or her turn.  If that player is not the judge then his or her response is forfeited and therefore no points can be awarded.  If that player is the judge, each response is awarded 1 point and the round is over.  
  %li To start a new game...
  %ul
    %li On the ‘Play’ tab click the link the start a new game.
    %li Enter the desired number of players
    %li Enter the desired number of rounds
    %li Enter the desired timeout in minutes
  %li To join a game...
  %ul
    %li On the ‘Play’ tab click the 'Join' button next to a game waiting for players.
  %li To play a round...
  %ul
    %li A card is selected randomly and displayed to all players.
    %li Each player except for the judge responds with a response they fill will garner the most points from the judge.
    %li The judge awards the available points (the number of players in the game) to the responses.
